body {
  background-color: rgb(181, 233, 247);
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 45px;
  padding: 0 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container {
  min-height: 70vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  width: 70%;
  margin: 20px auto;
  border-radius: 12px;
  padding: 30px;
  background-image: url("./images/anime-girl-with-headphones.jpg");
}

.bottom {
  position: sticky;
  height: 130px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 15px;
}

.icons i {
  cursor: pointer;
}
#myProgressBar {
  width: 70vw;
  cursor: pointer;
}

.songItemContainer {
  margin-top: 70px;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
}

.songItem img {
  width: 40px;
}

.timestamp {
  margin: 0 20px;
}

.timestamp i {
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 15vw;
  font-family: "Varela Round", sans-serif;
}
.songInfo img {
  width: 50px;
  opacity: 0;
  transition: opacity 1s ease-in;
}
